.show_button a {
  border: 1px solid #1512e0;
  padding: 8px 16px;
  background-color: lightblue;
  text-decoration: none;
  width: 55px;
  border-radius: 6px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  cursor: pointer;
  text-decoration: none;
  color: black;
  transition: all 0.3s ease;
}

.show_button a:hover {
  background-color: #5121e0;
  color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transform: scale(1.40);
  transition: all 0.3s ease;
  text-transform: uppercase;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1 solid #ddd;

}